
<div class="row">
        <div class="col-md-7">
                <div class="row">


                        <div class="col-md4">
                                <div class="search col-md-9" >
                                                <input type="text" class="form-control" id="search" name="name" ng-model="movieToSearch" value="choose your movie">
                                        </div><div class="search col-md-3" >        <button type="submit" class ="btn btn-default" id="search-button" ng-click="bool= true; search(movieToSearch); click()">Search</button>

                                </div>

                        </div>

                        <div class="col-md-8">
                                <div class="col-md-3 attributes slide-linear-down">


                                </div>

                        </div>
                </div>
                <div class="row">
                        <br>
                        <div class="col-md-4">
                                <iframe id="videoFrame" class="video w100" width="100%" height="100%" src="" frameborder="0" allowfullscreen></iframe>

                                <li><img  width="100%" height="100%" ng-src="{{movie.Poster}}" alt=""/></li>
                        </div>
                        <div class="col-md-8 information">
                                <ul class="list-unstyled" ng-if="bool">
                                        <li><h1>{{movie.Title}} ({{movie.Year}})</h1></li>
                                        <li><h4>Runtime: {{movie.Runtime}}  -  {{movie.Genre}} </h4></li>
                                        <li>Rating: {{movie.imdbRating}}</li>
                                        <li>Runtime: {{movie.Runtime}}</li>
                                        <li>Director: {{movie.Director}}</li>
                                        <li>Actors: {{movie.Actors}}</li>
                                        <br>
                                        <br>


                                        <li>Plot: {{movie.Plot}}</li>


                                </ul>
                                <div class="demo-gallerie">
                                        <ul id="lightgallery" class="list-unstyled row" style="text-align: center;">
                                                <li ng-repeat="movie in movies" class="col-xs-6 col-sm-4 col-md-5">
                                                        <a ng-click= "searchAgain(movie) ; clickpoupular(movie.Title)" >
                                                                <img class="img-responsive" ng-src="{{movie.Poster}}">


                                                        </a>
                                                </li>

                                        </li>
                                </ul>
                        </div>

                </div>

        </div>


</div>
<div class="col-md-5">
        <div class="demo-gallery">
                <ul id="lightgallery" class="list-unstyled row" style="text-align: center;">
                        <li ng-repeat="film in popular.results" class="col-xs-6 col-sm-4 col-md-5">
                                <a ng-click=" bool = true; search(film.original_title); clickpoupular(film.original_title)">
                                        <img class="img-responsive" ng-src="http://image.tmdb.org/t/p/w500/{{film.poster_path}}">
                                </a>
                        </li>

                </li>
        </ul>
</div>


</div>

</div>
