body {
  background-color: #152836;

}

.navbar{
  margin-bottom: 10px;
}
.container{
  border-radius: 0px;
}
.container-fluid{
  margin-left: 10px;
}
.information{
  color: white;
}
.col-md-5{
  padding: 5px;
}
/*#lightgallery{
  display: flex;
  align-content: space-between;
}*/
.demo-gallery > ul {
  margin-bottom: 0;
}
.demo-gallery > ul > li {
  float: left;
  margin-bottom: 2px;
  margin-right: 0px;
  width: 100px;
}
.demo-gallery > ul > li a {
  border: 1px solid #FFF;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}

.demo-gallery > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.demo-gallery > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.demo-gallerie > ul {
  margin-bottom: 0;
}
.demo-gallerie > ul > li {
  float: left;
  margin-bottom: 2px;
  margin-right: 0px;
  width: 50px;
}
.demo-gallerie > ul > li a {
  border: 1px solid #FFF;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}

.demo-gallerie > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.demo-gallerie > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
